/* Specification */

body {
    font-family: 'PT Sans', sans-serif;
}

ul, li {
    display: block;
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4, h5 {
    color: #010101;
    font-weight: 700;
}

h2 {
    text-align: center;
}

h3 {
    font-weight: 400;
}

.title {
    padding-top: 100px;
    padding-bottom: 100px;
}

.title__main {
    font-size: 32px;
}

.title__text {
    font-size: 20px;
    color: #555555;
    text-align: center;
    width: 780px;
    margin: 0 auto;
}

/* First screen*/

.header {
    background-color: #fcdb00;
    color: #010101;
    padding-top: 57px ;
}

.logo {
    padding: 0px;
}

.menu {
    margin-top: 6px;
}

.menu__item {
    margin: 0 57px
}

.menu__item a {
    font-size: 22px;
    font-weight: 700;
    color:#000000;
}

.features {
    background-color: #fcdb00;
}

.offer {
    padding-top: 125px;
    margin-left: -15px;
}


.offer__title {
    font-size: 32pt;
}

.offer__intro {
    color: #313841;
    font-size: 20pt;
    line-height: 1.3em;
    margin-top: 20px;
}

.offer__text {
    color: #555555;
    font-size: 16pt;
    margin-top: 20px;
}

.fa {
    color: #010101;
    margin-right: 40px;
    font-size: 42pt;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.fa:hover {
    text-decoration: none;
    color: #313131;
}

.ipad {
    display: block;
    margin: 70px auto 0px;
    padding-bottom: 100px;
}


/* Second screen*/

.touch {
    background-color: white;
    padding-bottom: 80px;
}

.feature {
    padding-bottom: 80px;
}

.align-self-start {
    margin-top: 0;
}

/*..........*/
.support {
    background-color: #010101;
}

.support.title {
    padding-bottom: 40px;
}

.support.title__main {
    color: #fcdb00;
}

.support.title__text {
    color: #717171;
}

/* Fourth screen */

.form {
    text-align: center;
    padding-bottom: 100px;
}

.form__input {
    background-color: #ffffff;
    font-size: 16pt;
    font-family: 'PT Sans', sans-serif;
    border-radius: 5px;
    width: 580px;
    padding: 10px 0px;
    border: 0;
    padding-left: 23px;
    outline: none;
}

.form__btn {
    background-color: #fcdb00;
    color: #010101;
    font-size: 16px;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    border-radius: 5px;
    width: 130px;
    height: 52px;
    border: 0;
    padding: 15px 0px;
    margin-left: 15px;
    cursor: pointer;
}

/* Footer */ 

.footer {
    background-color: #010101;
    padding-bottom: 60px;
}

.credits {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}

/* Media requests */

@media screen and (max-width: 992px) {
    .logo {
        display: block;
        margin: 10px auto;
    }
    .offer {
        padding-top: 50px;
        text-align: center;
    }
    .offer__items {
        justify-content: center;
        padding-left: 60px
    }
    .form__input {
        width: 100%;
    }
    .form__btn {
        margin-top: 15px;
        margin-left: 0;
        width: 100%;
    }
    .title__text {
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    .logo {
        display: block;
        margin: 8px auto;
    }
    .menu {
        flex-direction: column;
        text-align: center;
    }
    .menu__item {
        margin-bottom: 8px;
    }
    .ipad {
        width: 100%;
    }
    .offer {
        padding-top: 20px;
    }
}